<div class="uk-container uk-container-center">
    <div class="uk-block">
        <h1>logbook</h1>
        <div class="uk-float-right">
            <button type="button" class="uk-button uk-button-primary" routerLink="/create">Create entry</button>
        </div>
    </div>

    <div class="uk-grid" routerLink="/update/{{entry.id}}"
         *ngFor="let entry of entries; trackBy:entry?.id">
        <div class="uk-width-small-1-1 uk-width-medium-1-3">
            <h2 class="uk-margin-small">{{entry.title}}</h2>
            <p class="uk-margin-small uk-text-muted">TODO DATE CREATED</p>
            <p class="uk-margin-small uk-text-muted">({{entry.id}})</p>
            <p class="uk-margin-small uk-text-muted">({{entry.rev}})</p>
        </div>
        <div class="uk-width-small-1-1 uk-width-medium-2-3">
            <p class="uk-margin-small">{{entry.content}}</p>
            <p class="uk-margin-small uk-text-muted">{{entry.meta}}</p>
        </div>
    </div>
</div>

<div id="modal" class="uk-modal">
    <router-outlet></router-outlet>
</div>
